/* 文字コード設定 */
@charset "utf-8";

/* 全体設定 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 背景動画用設定 */
.video-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}
